<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">  
    <title>Sala Criada</title>
</head>
<body>
    
    <!-- cabeçalho aqui -->
    <%- include('./modulos/cabecalho', {salaAnterior: ''}) %> 


    <%- include('modulos/conteudo', {parte: 'abrir'}) %> 
        <div class="content-box">
            <div id="players">
                <div class="logo-ranking">
                    <img src="/assets/img/logo-ranking.svg" alt="logo do ranking">
                </div>

                <div class="ranking-scroll">
                    <% ranking.forEach( (valor,index) =>  { %>
                        <% if(index === 0){ %>
                        <div class="player" id="first-place">
                            <img src="/assets/img/first-place.svg" id="first-place-img">
                            <div class="player-data" id="first-place-data">
                                <span class="player-name"> <%= valor.username %>  </span>
                                <span class="player-punctuation">  <%= valor.points %> </span>
                            </div>
                        </div>
                        <% }else if(index === 1 ){ %>
                        <div class="player" id="second-place">
                            <img src="/assets/img/second-place.svg" id="second-place-img">
                            <div class="player-data" id="second-place-data">
                                <span class="player-name"><%= valor.username %></span>
                                <span class="player-punctuation"><%= valor.points %></span>
                            </div>
                        </div>
                        <% }else if(index === 2){ %>
                        <div class="player" id="third-place">
                            <img src="/assets/img/third-place.svg" id="third-place-img">
                            <div class="player-data" id="third-place-data">
                                <span class="player-name"><%= valor.username %></span>
                                <span class="player-punctuation"><%= valor.points %></span>
                            </div>
                        </div>
                        <% }else if(index >= 3 && index <= 9){ %>
                        <div class="player">
                            <span class="player-placing">
                                <%= index + 1 %>
                            </span>
                            <div class="player-data">
                                <span class ="player-name"><%= valor.username %></span>
                                <span class ="player-punctuation"><%= valor.points %></span>
                            </div>
                        </div>
                    <% }}) %>
           
            </div>
            <% if(user.role !== "quest"){ %>
                <div class="user-pontuacao">
                    <% const myRanking = ranking.map((usuario) => usuario.username) %>
                    <span class="player-posicao">
                        <%= myRanking.indexOf(user.username) + 1 %>
                    </span>
                    <div class="player-name-ponto">
                        <span><%= user.username %></span>
                    </div>
                    <div class="player-name-ponto__score">
                        <h2 class ="punctuation"><%= user.points %></h2>
                    </div>
                </div>
            <% } %>
        </div>
    <%- include('modulos/conteudo', {parte: 'fechar'}) %> 
</body>
</html>