<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% if(sala.status === 400) {%> 
        <script>
            window.location.replace('/')
        </script> <% } %> 
        
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Collab Bingo | <%= sala.name%></title>
    <script src="../socket.io/socket.io.js"></script>

</head>
<body>
    <%- include('./modulos/cabecalho', {salaAnterior: sala.name}) %> 

     <!-- e aquela parte roxa da tela -->
    <%- include('./modulos/conteudo', {parte: 'abrir'}) %>
        <section class="sala-de-espera">
            <div class="texto-id">
                <h2>Código sala:</h2>
                <div class="texto-id__fundo">
                    <fieldset id="copy-id">
                        <img id="copy" src="/assets/img/copy.svg" alt="Copiar">
                        <input class="input-sala-id-entrar" type="number"  name="id-sala-entrar" value= '<%= sala.code %>'  readonly>
                    </fieldset>

                    <script>
                        const copiarID = document.querySelector('#copy')
                        copiarID.addEventListener('click', ()=> {
                            let id = document.querySelector('.input-sala-id-entrar')
                            id.select();
                            document.execCommand("copy");
                        })
                    </script>
                </div>
            </div>

            <div class="info-sala">
                <h5>Participantes:</h5>
                <div class="info-sala__participantes">
                    <img src="../assets/img/users.svg" alt="Quantidade de usuarios na sala">
                    <h2 class="info-sala__numeros-participantes"><span class="members_atual"><span id="actual_members"><%= sala.members %></span></span><span>/</span><%= sala.max_members %></h2>                    
                </div>

                <h2>GERAR MINHA</h2>
                <h2>CARTELA:</h2>

                <div class="info-sala__btn">
                    <button class="info-sala__btn-gerar" id="gerar">GERAR</button>
                    <button onclick="sair()" class="info-sala__btn-cancelar" id="cancelar">CANCELAR</button>
                </div>

                <div class="info-sala__mensagem-de-criacao">
                    <h3><%= 'Gerada com sucesso' %></h3>
                </div>

            </div>
        </section>
    <%- include('./modulos/conteudo', {parte: 'fechar'}) %> 
    <!-- movi os scirpts para o final, ve se nao quebra nada (joao) -->
    <script>
        var socket = io.connect();

        socket.on('add member', (room, online) => {
                    const sala = '<%= sala.id %>'
                    if(room === sala){
                        const member = document.querySelector('#actual_members');
                        member.innerHTML = online;
                    }
                })

        socket.on('remove member', (room, online) => {
                    const sala = '<%= sala.id %>'
                    if(room === sala){
                        const member = document.querySelector('#actual_members');
                        member.innerHTML = online;
                    }
                })

        function sair(){
            socket.emit('<%= sala.code %>')
        }

        socket.emit('join', '<%= sala.id %>', '<%= user.id %>', '<%= sala.user_id %>', '<%= user.username %>');

        socket.on('salve', (data) => {
            console.log(data);
        })

        socket.on('saiu da sala', room => {
            const sala = '<%= sala.id %>'
            if(room === sala){
                window.location.replace('/')
            }
        })

        socket.on('dono saiu', room => {
            const sala = '<%= sala.id %>'
            if(room === sala){
                console.log('O dono saiu da sala...')
            }
        })

        socket.on('recebi', (data)=>{
            const numero_members = document.querySelector('.members_atual');
            numero_members.innerHTML = data;
        });

        socket.on('redirect', room => {
            const sala = '<%= sala.id %>';
            if(room === sala){
                window.location.replace('/cartela/<%= user.id %>')
            }
        })
       

        const gerar = document.querySelector('#gerar')
        const cartelaGerada = document.querySelector('.info-sala__mensagem-de-criacao')

        gerar.addEventListener('click', async () => {
            cartelaGerada.classList.add('cartela-gerada');
            gerar.style.display = 'none';

            await fetch('/api/create/cartela', {
                method: "post",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    bingo_id: "<%= sala.id %>",
                    user_id: "<%= user.id %>",
                })
            })
        })
    </script>
</body>
</html>