<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Tela Perfil</title>
</head>
<body>
    <%- include('./modulos/cabecalho', {salaAnterior: 'Anterior'}) %> 

     <!-- e aquela parte roxa da tela -->
    <%- include('./modulos/conteudo', {parte: 'abrir'}) %>
        <section class="sala-de-espera">
            <div class="texto-id">
                <h2>ID da sala:</h2>
                <div class="texto-id__fundo">
                    <span>#</span><h3> <%= '980347' %> </h3> 
                </div>
            </div>

            <div class="info-sala">
                <h5>Participantes:</h5>
                <div class="info-sala__participantes">
                    <img src="../assets/img/users.svg" alt="Quantidade de usuarios na sala">

                    <% if (typeof numParticipantes !== 'undefined') { %>
                        <h2 class="info-sala__numeros-participantes"><%= numParticipantes %></h2>
                    <% } else { %>
                        <h2 class="info-sala__numeros-participantes">15</h2>
                    <% } %>
                    
                </div>

                <h2>GERAR MINHA</h2>
                <h2>CARTELA:</h2>

                <div class="info-sala__btn">
                    <button class="info-sala__btn-gerar">GERAR</button>
                </div>

                <div class="info-sala__mensagem-de-criacao">
                    <h3><%= 'Gerada com sucesso' %></h3>
                </div>

            </div>
        </section>
    <%- include('./modulos/conteudo', {parte: 'fechar'}) %> 
</body>
</html>