<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% if(user.id !== sala.user_id) { %>
        <script>
            window.location.replace('/')
        </script>      
    <%} %>

    <% if(sala === 400) { %>
        <script>
            window.location.replace('/')
        </script>      
    <%} %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Bingolin | <%= sala.name %></title>
    <script src="../../socket.io/socket.io.js"></script>
</head>
<body>
    <%- include('./modulos/cabecalho', {salaAnterior: sala.name}) %> 

     <!-- e aquela parte roxa da tela -->
    <%- include('./modulos/conteudo', {parte: 'abrir'}) %>
        <section class="sala-de-espera">
            <div class="info-sala__mensagem-de-criacao-dono">

                <h3><%= 'Sala criada com sucesso!' %></h3>
                <script>
                    const setTempoMensagem = document.querySelector('.info-sala__mensagem-de-criacao-dono')
                    setTimeout(() => { 
                        setTempoMensagem.style.display = 'none'
                    }, 3000);
                </script>
            </div>
            <div class="texto-id">
                <h2>Código sala:</h2>
                <div class="texto-id__fundo">
                    <!-- Id gerado após criar sala criada com sucesso -->
                    <fieldset id="copy-id">
                        <img id="copy" src="/assets/img/copy.svg" alt="Copiar">
                        <input class="input-sala-id-entrar" type="number"  name="id-sala-entrar" value= '<%= sala.code %>'  readonly>
                    </fieldset>

                    <script>
                        const copiarID = document.querySelector('#copy')
                        copiarID.addEventListener('click', ()=> {
                            let id = document.querySelector('.input-sala-id-entrar')
                            id.select();
                            document.execCommand("copy");
                        })
                    </script> 
                </div>
            </div>

            <div class="info-sala">
                <h5>Ver participantes:</h5>
                <div class="info-sala__participantes">
                    <img src="/assets/img/users.svg" alt="Quantidade de usuarios na sala">
                    <!-- Ejs para mostrar as pessoas que for entrando na sala de espera do bingo, vai atualizando -->
                    <h2 class="info-sala__numeros-participantes"><span class="members_atual"><%= sala.members %></span><span>/</span><%= sala.max_members %></h2>
                </div>

                <div class="info-sala__btn">
                   
                    <button onclick='mudarLocal()' class="info-sala__btn-gerar">COMEÇAR</button>                    
                    <button  onclick="mandarMensagem()" class="info-sala__btn-gerar-cancelar" id="cancelar">CANCELAR</button>
                </div>
            </div>

            <script>
               var socket = io.connect();

                socket.on('recebi', (data)=>{
                    const numero_members = document.querySelector('.members_atual');
                    numero_members.innerHTML = data;
                });

                socket.on('dono_saiu', (msg) => {
                    console.log(msg)
                })

                    
                socket.emit('join', '<%= sala.id %>', '<%= user.id %>', '<%= sala.user_id %>');


                function mandarMensagem() {
                    socket.emit('mensagem');
                }

                
                async function mudarLocal() {
                    await fetch('/api/create/cartela', {
                        method: "post",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            bingo_id: "<%= sala.id %>",
                            user_id: "<%= user.id %>",
                        })
                    }).then(resposta => resposta.json())
                    .then(data => {
                        if(data.status === 200) {
                            socket.emit('redirect');
                            window.location.replace('/cartela/<%= user.id %>');
                        }
                    })
                }

                const cancelar = document.querySelector('#cancelar');

                cancelar.addEventListener('click', async () => {
                    await fetch(`/room/delete/<%= sala.id %>`, { method: 'delete' }).then(resposta => resposta.json())
                    .then(data => {
                        if(data.status === 200){
                            window.location.replace('/');
                        }
                    });
                });
            </script>
        </section>
    <%- include('./modulos/conteudo', {parte: 'fechar'}) %> 
</body>
</html>