<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Tela Perfil</title>
</head>
<body>
    <%- include('./modulos/cabecalho', {salaAnterior: sala.name}) %> 

     <!-- e aquela parte roxa da tela -->
    <%- include('./modulos/conteudo', {parte: 'abrir'}) %>
        <section class="sala-de-espera">
            <div class="texto-id">
                <h2>ID da sala:</h2>
                <div class="texto-id__fundo">
                    <fieldset id="copy-id">
                        <img id="copy" src="/assets/img/copy.svg" alt="Copiar">
                        <input class="input-sala-id-entrar" type="number"  name="id-sala-entrar" value= '<% sala.code %>'  readonly>
                    </fieldset>

                    <script>
                        const copiarID = document.querySelector('#copy')
                        copiarID.addEventListener('click', ()=> {
                            let id = document.querySelector('.input-sala-id-entrar')
                            id.select();
                            document.execCommand("copy");
                            
                            console.log(`texto copiado: ${id.value}`)
                        })
                    </script>
                </div>
            </div>

            <div class="info-sala">
                <h5>Participantes:</h5>
                <div class="info-sala__participantes">
                    <img src="../assets/img/users.svg" alt="Quantidade de usuarios na sala">
                    <h2 class="info-sala__numeros-participantes"><%= sala.members %><span>/</span><%= sala.max_members %></h2>                    
                </div>

                <h2>GERAR MINHA</h2>
                <h2>CARTELA:</h2>

                <div class="info-sala__btn">
                    <button class="info-sala__btn-gerar" id="gerar">GERAR</button>
                </div>

                <div class="info-sala__mensagem-de-criacao">
                    <h3><%= 'Gerada com sucesso' %></h3>
                </div>

            </div>
        </section>
    <%- include('./modulos/conteudo', {parte: 'fechar'}) %> 
    <!-- movi os scirpts para o final, ve se nao quebra nada (joao) -->
    <script>
        const gerar = document.querySelector('#gerar');
        gerar.addEventListener('click', async () => {
            await fetch('/api/create/cartela', {
                method: "post",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    bingo_id: "<%= sala.id %>",
                    user_id: "<%= user.id %>"
                })
            })
        })
    </script>
</body>
</html>