<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Bingolin | Home</title>
    <script src="socket.io/socket.io.js"></script>

</head>
<body>
    <%- include('./modulos/cabecalho', {salaAnterior: ''}) %> 

     <!-- e aquela parte roxa da tela -->
    <%- include('./modulos/conteudo', {parte: 'abrir'}) %>
        <section class="sala-de-espera">

            <p class= "sala-erro"></p>
            
            <div class="texto-id">
                <h2>Código sala:</h2>
                <div class="texto-id__fundo-input">
                    <input class="input-sala-id-entrar" type="number" placeholder="#565365" name="id-sala-entrar">
                </div>
                
                <div class="texto-id__entrar">
                    <a class="botao_entrar">
                        <img src="/assets/img/entrar.svg" alt= 'Enter'>
                    </a> 
                </div>
                    
                <script>
                    const codigoSala = document.querySelector('.input-sala-id-entrar');
                    const entrarNaSala = document.querySelector(".botao_entrar");
                    const menssagem = document.querySelector('.sala-erro');
                    entrarNaSala.addEventListener('click', async (e)=>{
                        e.preventDefault();
                        await fetch('/api/verifyRoom', {
                            method: 'POST',
                            headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                            body: JSON.stringify({
                                code: codigoSala.value
                            })
                        }).then(resposta => resposta.json())
                        .then(resposta => {
                            if(resposta.status !== 200){
                                menssagem.style.display = "block";
                                menssagem.innerHTML = resposta.message;
                            }else{
                                window.location.replace(`/room/${codigoSala.value}`);
                            }
                        });
                    })
                </script>
            </div>

            <div class="content__criar-sala">
                <h2>Criar sala</h2>
                <a href="/create" class="content__img">
                    <img src="/assets/img/add-sala-new.svg" alt="Criar sala">
                </a>
            </div>
            <div class="content__atualizar-salas">
                <h2 class="sala-text">Salas públicas:</h2>
                <button id="atualizar" type="button"><img src="/assets/img/atualizar-white.svg" alt=""></button>
            </div>
            <script>
                const atualizar = document.querySelector('#atualizar');
                atualizar.addEventListener('click', () => {
                    window.location.replace('/');
                });
            </script>
            <br>
            <div class="list-salas-scroll">
                
            <!-- Aqui vai uma condicao: se a sala for criada com sucesso add a sala publica se nao da um erro -->
            <% if (typeof salaPublica !== 'undefined') { %>
                <h2><%= 'Erro ao Criar Sala' %></h2>
            <% } else { %>
                <%  salas.forEach(sala => { %>
                    <div class="content__salas-publicas">
                        <div class="content__text-nome-sala-e-users">
                            <div class="content__salas-publicas-text">
                                <h2><%= sala.name %></h2>
                                <h3>#<%= sala.code %></h3>
                            </div>
            
                            <div class="content__salas-publicas__user-na-sala">
                                <a href="#">
                                    <img src="/assets/img/users.svg" alt="usuarios na sala">
                                    <h2><%= sala.members %><span>/</span><%= sala.max_members %></h2>
                                </a>
                            </div>
                        </div>
        
                        <div class="content__salas-publicas__inspecionar-sala">
                            <a class="inspecionar-sala__bingo" onclick="entrarSala(event, '<%= sala.code %>')">
                                <img src="/assets/img/eye.svg" alt="Inspecionar sala">
                            </a>
                        </div>
                        
                    </div> 
        
                <% }); %>
            <% } %>

            <script>
                var socket = io.connect();

                async function entrarSala(e, code) {
                    e.preventDefault();
                    await fetch('/api/verifyRoom', {
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                        body: JSON.stringify({
                            code,
                        })
                    }).then(resposta => resposta.json())
                    .then(resposta => {
                        if(resposta.status !== 200){
                            menssagem.style.display = "block";
                            menssagem.innerHTML = resposta.message;
                        }else{
                            window.location.replace(`/room/${code}`);
                        }
                    });
                }
            </script>
            </div>
        </section>
    <%- include('./modulos/conteudo', {parte: 'fechar'}) %> 
</body>
</html>